{% extends 'base.html' %}
{% block content %}
    <h1>Home Page</h1>

    <h2>Liste des Tickets</h2>
    <div class="grid-container">
        {% if postes %}
            {% for poste in postes %}
                {% if poste.content_type == 'Ticket' %}
                    <div class="post">
                        <a href="{% url 'view_ticket' poste.id %}">
                            <span>{{ poste.auteur }} à demandé une critique le {{ poste.date_creation }}</span>
                            <h4>Ticket : {{ poste.titre }}</h4>
                            <p>{{ poste.contenu }}</p>
                            <img src="{{ poste.photo.url }}">
                        </a>
                    </div>
                {% elif poste.content_type == 'Review' %}
                    <div class="post">
                        <a href="{% url 'view_review' poste.ticket.id poste.id %}">
                            <span>{{ poste.auteur }} à effectué une critique le {{ poste.date_creation }}</span>
                            <h2>Vote : {{ poste.vote }}</h2>
                            <h4>Critique : {{ poste.titre }}</h4>
                            <p>{{ poste.contenu }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}