{% extends 'base.html' %}
{% block content %}
    <h1>Critique</h1>
    <h2>{{ review.headline }}</h2>
    <p>Auteur : {{ review.user.username }}</p>
    <p>vote : {{ review.rating }}</p>
    <p>{{ review.body }}</p>
    {% if current.user == review.user %}
        <a class="btn" href="{% url 'update_review' ticket.id review.id %}">Mettre à jour la critique</a>
    {% endif %}
    <h1>Détail du Ticket de {{ ticket.user.username }}</h1>
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.description }}</p>
    <img src="{{ ticket.image.url }}">
{% endblock content %}