{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1>Critique</h1>
</div>
<div class="d-flex justify-content-center">
    <h2>{{ review.headline }}</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <p>Auteur : {{ review.user.username }}</p>
        <p>vote : {{ review.rating }}</p>
        <p>{{ review.body }}</p>
        {% if user == review.user %}
            <a class="btn" href="{% url 'update_review' ticket.id review.id %}">
                <button class="btn btn-outline-secondary" type="button">
                    Mettre à jour la critique
                </button>
            </a>
            <a class="btn" href="{% url 'delete_review' ticket.id review.id %}">
                <button class="btn btn-outline-danger" type="button">
                    Supprimer la critique
                </button>
            </a>
        {% endif %}
        <div class="d-flex justify-content-center">
            <h1>Détail du Ticket de {{ ticket.user.username }}</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h2>{{ ticket.title }}</h2>
        </div>
        <p>{{ ticket.description }}</p>
        <img class="img-poste" src="{{ ticket.image.url }}">
    </div>
</div>
{% endblock content %}